<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <div class="container">
      <h1 class="pt-5">Valinor App</h1>
      <a href="/todo">Todo App</a>
    </div>
  </body>
</html>
